<h1><b>ML Intern Project: Predicting Car Selling Prices</h1></b>

<h3>First Step : Handle Basic Imports</h3>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h3>Second Step:Use Pandas to Load the Data</h3>

In [6]:
dataset=pd.read_csv(r"../data/car.csv")
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

<h4> Checking The Columns</h4>

In [8]:
dataset.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage(km/ltr/kg)', 'engine', 'max_power',
       'seats'],
      dtype='object')

In [ ]:
<h3>Here, I used a LLM, chatgpt to be specific, to explain me what these columns meant. With this, I am also providing the LLM with some context so that it can follow up, and later can provide me valueable insights to visualize or predict .</h4>